.header{
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-left: 30px;
    margin-top: 15px;
}

.menu{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.Dashboard{
    margin-top: 50px;
}

.product{
    margin-left: 10%;

}

.message{
    margin-left: 10%;
}

.logout{
    margin-top: 29vh;
    margin-bottom: 5vh;

}

