.header{
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-left: 30px;
    margin-top: 15px;
}

.menu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.menu_btn{
    display: none;
}

.Dashboard{
    margin-top: 100px;
}

.product{
    margin-left: 10%;

}

.message{
    margin-left: 10%;
}

.logout{
    margin-top: 35vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    width: 10vw;

}




