.Third_part{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 50px;
}

.notification{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 30px;
    gap: 300px;

}

.petit_span{
    color: rgba(255, 255, 255, 0.7);
    
}

.img_BNB{
    margin-top: 10px;
    width: 63px;
}

.img_Eterium{
    margin-top: 10px;
    width: 50px;
}

.img_LiteCoin{
    margin-top: 10px;
    margin-left: 5px;
    width: 55px;
}

.span_price1{
    color: #6C1182;
}

.span_24change1{
    color: #D61919;
}

.span_24change3{
    color: #D61919;
    position: relative;
    margin-right: 10px;
}


.span_24change5{
    position: relative;
    right: 10px;
}

.span_24change6{
    position: relative;
    right: 10px;
}

.petit_span5{
    position: relative;
    right: 10px;
}

.petit_span6{
    position: relative;
    right: 12px;
}

.span_24change2{
    color: #4AD619;
    margin-left: 18px;
}

.petit_span2{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 18px;
}




/* DIV Transactions */

.div_USDC{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    gap: 15%;
    
    
    
}

.BNB{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

}

.USDC{
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;

}

.LiteCoin{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;

}

.Bitecoin{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;

}

.Eterium{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;

}

.transcation_USDC{
    display: flex;
    flex-direction: column;
    justify-content: left;

}


/* DIV Assets */

/* Asset Bitcoin */

.Assets_bitcoin{
    margin-top: 20px;
    background-image: url(../assets/coloredbg1.png);
    background-size: cover;

}

.column{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.img{
    width: 20%;
}

.row{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 15px;
    bottom: 15px;
    gap: 100px;
}

/* Asset Etherium */

.Assets_etherium{
    background-image: url(../assets/coloredbg2.png);
    background-size: cover;
    margin-top: 20px;

}

