.Main{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.sidebar{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;

    
}

.SearchBar{
    background-color: white;
    border-radius: 10px;
    height: 5vh;
    width: 25vw;
    color: black;
}

.SearchBar .search_content{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 9px;
    gap: 10px;
}


.frame_balance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #292727;
    border-radius: 20px;
    width: 30vw;
    height: 9vh;

}





